In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import networkx as nx
import csv
import numpy as np
import sklearn
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Data cleaning

In [ ]:
years = [year for year in range(2021, 2009, -1)]

In [ ]:
import re

def process_excel_file(year, excel_path):
    df = pd.read_excel(excel_path, sheet_name=1, header=None)


    df = df.transpose().reset_index()
    df.columns = df.iloc[0]
    # Drop the first row
    df = df.iloc[1:]

    df.columns = ['Owner_occupied_' + col if 10>= i > 4 else col for i, col in enumerate(df.columns)]
    df.columns = ['Renter_occupied_' + col if 17>= i > 11 else col for i, col in enumerate(df.columns)]
    df = df.rename(columns={'Owner occupied:' : 'Owner_occupied', 'Renter occupied:' : 'Renter_occupied'})

    new_column_name = 'census_tract'  # Replace with the new name
    df.columns.values[1] = new_column_name
    df = df.dropna(subset=['census_tract'])
    #df['census_tract'] = df['census_tract'].apply(lambda x: re.sub(r'[^0-9.]', '', x) if isinstance(x, str) else x)
    df['census_tract'] = df['census_tract'].apply(lambda x: re.sub(r'[^0-9]', '', x) if isinstance(x, str) else x)
    df = df.reset_index()
    df = df.drop(columns = ['Label', 'index', 0], axis=1)
    df['year'] = year




    return df

In [ ]:
for year in years:
  excel_file_path = f'/content/drive/MyDrive/DS project/Dorchester_homeownership/ACSDT5Y{year}.xlsx'
  variable_name = f'Dorchester_homeownership_{year}'

        # Call the function and assign the result to the variable
  globals()[variable_name] = process_excel_file(year, excel_file_path)

In [ ]:
Dorchester_homeownership_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 17 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   census_tract                                 29 non-null     object
 1   Total population in occupied housing units:  29 non-null     object
 2   Owner_occupied                               29 non-null     object
 3   Owner_occupied_Moved in 2019 or later        29 non-null     object
 4   Owner_occupied_Moved in 2015 to 2018         29 non-null     object
 5   Owner_occupied_Moved in 2010 to 2014         29 non-null     object
 6   Owner_occupied_Moved in 2000 to 2009         29 non-null     object
 7   Owner_occupied_Moved in 1990 to 1999         29 non-null     object
 8   Owner_occupied_Moved in 1989 or earlier      29 non-null     object
 9   Renter_occupied                              29 non-null     object
 10  Renter_occupied_Moved in 2019 or later       29 non-null     object
 11  Renter_occupied_Moved in 2015 to 2018        29 non-null     object
 12  Renter_occupied_Moved in 2010 to 2014        29 non-null     object
 13  Renter_occupied_Moved in 2000 to 2009        29 non-null     object
 14  Renter_occupied_Moved in 1990 to 1999        29 non-null     object
 15  Renter_occupied_Moved in 1989 or earlier     29 non-null     object
 16  year                                         29 non-null     int64
dtypes: int64(1), object(16)
memory usage: 4.0+ KB

In [ ]:
for year in years:
  df = globals()[f'Dorchester_homeownership_{year}']
  for column in df.columns[: -1]:
    df[column] = df[column].str.replace('[^0-9-]', '', regex=True).astype(int)

In [ ]:
for df in [Dorchester_homeownership_2021, Dorchester_homeownership_2020, Dorchester_homeownership_2019, Dorchester_homeownership_2018]:

  df['Owner_occupied_Moved in 1999 or earlier'] =  df.iloc[:, 7:9].sum(axis=1)
  df['Renter_occupied_Moved in 1999 or earlier'] = df.iloc[:, 14:16].sum(axis=1)

In [ ]:
for df in [Dorchester_homeownership_2017, Dorchester_homeownership_2016, Dorchester_homeownership_2015]:
  df['Owner_occupied_Moved in 1999 or earlier'] =  df.iloc[:, 6:9].sum(axis=1)
  df['Renter_occupied_Moved in 1999 or earlier'] = df.iloc[:, 13:16].sum(axis=1)

In [ ]:
for df in [Dorchester_homeownership_2014, Dorchester_homeownership_2013, Dorchester_homeownership_2012, Dorchester_homeownership_2011, Dorchester_homeownership_2010]:
  df['Owner_occupied_Moved in 1999 or earlier'] =  df.iloc[:, 5:9].sum(axis=1)
  df['Renter_occupied_Moved in 1999 or earlier'] = df.iloc[:, 12:16].sum(axis=1)

In [ ]:
Dorchester_homeownership_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 19 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   census_tract                                 29 non-null     int64
 1   Total population in occupied housing units:  29 non-null     int64
 2   Owner_occupied                               29 non-null     int64
 3   Owner_occupied_Moved in 2010 or later        29 non-null     int64
 4   Owner_occupied_Moved in 2000 to 2009         29 non-null     int64
 5   Owner_occupied_Moved in 1990 to 1999         29 non-null     int64
 6   Owner_occupied_Moved in 1980 to 1989         29 non-null     int64
 7   Owner_occupied_Moved in 1970 to 1979         29 non-null     int64
 8   Owner_occupied_Moved in 1969 or earlier      29 non-null     int64
 9   Renter_occupied                              29 non-null     int64
 10  Renter_occupied_Moved in 2010 or later       29 non-null     int64
 11  Renter_occupied_Moved in 2000 to 2009        29 non-null     int64
 12  Renter_occupied_Moved in 1990 to 1999        29 non-null     int64
 13  Renter_occupied_Moved in 1980 to 1989        29 non-null     int64
 14  Renter_occupied_Moved in 1970 to 1979        29 non-null     int64
 15  Renter_occupied_Moved in 1969 or earlier     29 non-null     int64
 16  year                                         29 non-null     int64
 17  Owner_occupied_Moved in 1999 or earlier      29 non-null     int64
 18  Renter_occupied_Moved in 1999 or earlier     29 non-null     int64
dtypes: int64(19)
memory usage: 4.4 KB

In [ ]:
#list_of_indices
# Create a list of DataFrames
concatenated_df = [globals()[f'Dorchester_homeownership_{year}'] for year in years]

# Initialize an empty DataFrame to store the concatenated result
result_df2 = pd.DataFrame()

# Concatenate the DataFrames in the list
for df in concatenated_df:
    result_df2 = pd.concat([result_df2, df], ignore_index=True)

In [ ]:
result_df2.columns

Index(['census_tract', 'Total population in occupied housing units:',
       'Owner_occupied', 'Owner_occupied_Moved in 2019 or later',
       'Owner_occupied_Moved in 2015 to 2018',
       'Owner_occupied_Moved in 2010 to 2014',
       'Owner_occupied_Moved in 2000 to 2009',
       'Owner_occupied_Moved in 1990 to 1999',
       'Owner_occupied_Moved in 1989 or earlier', 'Renter_occupied',
       'Renter_occupied_Moved in 2019 or later',
       'Renter_occupied_Moved in 2015 to 2018',
       'Renter_occupied_Moved in 2010 to 2014',
       'Renter_occupied_Moved in 2000 to 2009',
       'Renter_occupied_Moved in 1990 to 1999',
       'Renter_occupied_Moved in 1989 or earlier', 'year',
       'Owner_occupied_Moved in 1999 or earlier',
       'Renter_occupied_Moved in 1999 or earlier',
       'Owner_occupied_Moved in 2017 or later',
       'Owner_occupied_Moved in 2015 to 2016',
       'Renter_occupied_Moved in 2017 or later',
       'Renter_occupied_Moved in 2015 to 2016',
       'Owner_occupied_Moved in 2015 or later',
       'Owner_occupied_Moved in 1980 to 1989',
       'Owner_occupied_Moved in 1979 or earlier',
       'Renter_occupied_Moved in 2015 or later',
       'Renter_occupied_Moved in 1980 to 1989',
       'Renter_occupied_Moved in 1979 or earlier',
       'Owner_occupied_Moved in 2010 or later',
       'Owner_occupied_Moved in 1970 to 1979',
       'Owner_occupied_Moved in 1969 or earlier',
       'Renter_occupied_Moved in 2010 or later',
       'Renter_occupied_Moved in 1970 to 1979',
       'Renter_occupied_Moved in 1969 or earlier',
       'Owner_occupied_Moved in 2005 or later',
       'Owner_occupied_Moved in 2000 to 2004',
       'Renter_occupied_Moved in 2005 or later',
       'Renter_occupied_Moved in 2000 to 2004'],
      dtype='object')

In [ ]:
result_df3 = result_df2[['census_tract', 'Total population in occupied housing units:',
       'Owner_occupied', 'Owner_occupied_Moved in 1999 or earlier',
      'Renter_occupied', 'Renter_occupied_Moved in 1999 or earlier',
       'year']]

In [ ]:
result_df3.sort_values(by=['census_tract', 'year'], inplace=True)

result_df3['percent_owners'] = result_df3['Owner_occupied']/result_df3['Total population in occupied housing units:']
result_df3['percent_renters'] = result_df3['Renter_occupied']/result_df3['Total population in occupied housing units:']

result_df3['percent_old_owners'] = result_df3['Owner_occupied_Moved in 1999 or earlier']/result_df3['Owner_occupied']
result_df3['percent_old_renters'] = result_df3['Owner_occupied_Moved in 1999 or earlier']/result_df3['Renter_occupied']

result_df3['renters_owners_ratio'] = result_df3['Owner_occupied']/result_df3['Renter_occupied']
result_df3['old_renters_owners_ratio'] = result_df3['Owner_occupied_Moved in 1999 or earlier']/result_df3['Renter_occupied_Moved in 1999 or earlier']

# Calculate the percentage change within each 'census_tract' group
#result_df3['percentage_change'] = result_df3.groupby('census_tract')['Owner_occupied_Moved in 1999 or earlier'].pct_change()

<ipython-input-19-236f53da9bbd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3.sort_values(by=['census_tract', 'year'], inplace=True)
<ipython-input-19-236f53da9bbd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['percent_owners'] = result_df3['Owner_occupied']/result_df3['Total population in occupied housing units:']
<ipython-input-19-236f53da9bbd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['percent_renters'] = result_df3['Renter_occupied']/result_df3['Total population in occupied housing units:']
<ipython-input-19-236f53da9bbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['percent_old_owners'] = result_df3['Owner_occupied_Moved in 1999 or earlier']/result_df3['Owner_occupied']
<ipython-input-19-236f53da9bbd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['percent_old_renters'] = result_df3['Owner_occupied_Moved in 1999 or earlier']/result_df3['Renter_occupied']
<ipython-input-19-236f53da9bbd>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['renters_owners_ratio'] = result_df3['Owner_occupied']/result_df3['Renter_occupied']
<ipython-input-19-236f53da9bbd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['old_renters_owners_ratio'] = result_df3['Owner_occupied_Moved in 1999 or earlier']/result_df3['Renter_occupied_Moved in 1999 or earlier']

In [ ]:
# Adding back the decimal to census tract..
def custom_replace(value):
    if value > 10000:
        return value/100
   # else: return int(value)

    return value


result_df3['census_tract'] = result_df3['census_tract'].apply(custom_replace)

<ipython-input-21-424f84e325ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['census_tract'] = result_df3['census_tract'].astype('float64')

In [ ]:
# Adding back the decimal to census tract..
def custom_replace(value):
    if value > 10000:
        return value/100
   # else: return int(value)

    return value


result_df3['census_tract'] = result_df3['census_tract'].apply(custom_replace)

<ipython-input-23-d5d10f3af895>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df3['census_tract'] = result_df3['census_tract'].apply(custom_replace)

In [ ]:
result_df3.reset_index(drop=True)

,census_tract,Total population in occupied housing units:,Owner_occupied,Owner_occupied_Moved in 1999 or earlier,Renter_occupied,Renter_occupied_Moved in 1999 or earlier,year,percent_owners,percent_renters,percent_old_owners,percent_old_renters,renters_owners_ratio,old_renters_owners_ratio
0,901.0,4658,1351,699,3307,916,2010,0.290039,0.709961,0.517395,0.211370,0.408527,0.763100
1,901.0,4941,1580,804,3361,647,2011,0.319773,0.680227,0.508861,0.239215,0.470098,1.242658
2,901.0,4941,1317,712,3624,482,2012,0.266545,0.733455,0.540623,0.196468,0.363411,1.477178
3,901.0,4986,926,689,4060,400,2013,0.185720,0.814280,0.744060,0.169704,0.228079,1.722500
4,901.0,5108,913,677,4195,250,2014,0.178739,0.821261,0.741512,0.161383,0.217640,2.708000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,100603.0,2049,1210,321,839,11,2017,0.590532,0.409468,0.265289,0.382598,1.442193,29.181818
342,100603.0,1953,1094,298,859,0,2018,0.560164,0.439836,0.272395,0.346915,1.273574,inf
343,100603.0,1894,1136,217,758,18,2019,0.599789,0.400211,0.191021,0.286280,1.498681,12.055556
344,100603.0,2032,1344,476,688,9,2020,0.661417,0.338583,0.354167,0.691860,1.953488,52.888889
345,100603.0,2051,1404,463,647,22,2021,0.684544,0.315456,0.329772,0.715611,2.170015,21.045455

In [ ]:
result_df3.to_csv('/content/drive/MyDrive/DS project/Dorchester_homeownership/Dorchester_homeownership.csv')

Igonre the following......

In [ ]:
Dorchester_homeownership_2021_2020 = pd.concat([Dorchester_homeownership_2021, Dorchester_homeownership_2020])

Dorchester_homeownership_2019_2018 = pd.concat([Dorchester_homeownership_2019, Dorchester_homeownership_2018])

Dorchester_homeownership_2017_2016_2015 = pd.concat([Dorchester_homeownership_2017, Dorchester_homeownership_2016, Dorchester_homeownership_2015])

Dorchester_homeownership_2014_2013_2012 = pd.concat([Dorchester_homeownership_2014, Dorchester_homeownership_2013, Dorchester_homeownership_2012])

Dorchester_homeownership_2011_2010 = pd.concat([Dorchester_homeownership_2011, Dorchester_homeownership_2010])

In [ ]:
Dorchester_homeownership_2021_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 28
Data columns (total 17 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   census_tract                                 58 non-null     object
 1   Total population in occupied housing units:  58 non-null     object
 2   Owner_occupied                               58 non-null     object
 3   Owner_occupied_Moved in 2019 or later        58 non-null     object
 4   Owner_occupied_Moved in 2015 to 2018         58 non-null     object
 5   Owner_occupied_Moved in 2010 to 2014         58 non-null     object
 6   Owner_occupied_Moved in 2000 to 2009         58 non-null     object
 7   Owner_occupied_Moved in 1990 to 1999         58 non-null     object
 8   Owner_occupied_Moved in 1989 or earlier      58 non-null     object
 9   Renter_occupied                              58 non-null     object
 10  Renter_occupied_Moved in 2019 or later       58 non-null     object
 11  Renter_occupied_Moved in 2015 to 2018        58 non-null     object
 12  Renter_occupied_Moved in 2010 to 2014        58 non-null     object
 13  Renter_occupied_Moved in 2000 to 2009        58 non-null     object
 14  Renter_occupied_Moved in 1990 to 1999        58 non-null     object
 15  Renter_occupied_Moved in 1989 or earlier     58 non-null     object
 16  year                                         58 non-null     int64
dtypes: int64(1), object(16)
memory usage: 8.2+ KB

In [ ]:
#list_of_indices
# Create a list of DataFrames
concatenated_df = [globals()[f'Dorchester_homeownership_{year}'] for year in years]

# Initialize an empty DataFrame to store the concatenated result
result_df = pd.DataFrame()

# Concatenate the DataFrames in the list
for df in concatenated_df:
    result_df = pd.concat([result_df, df], ignore_index=True)

In [ ]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 37 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   census_tract                                 346 non-null    object
 1   Total population in occupied housing units:  346 non-null    object
 2   Owner_occupied                               346 non-null    object
 3   Owner_occupied_Moved in 2019 or later        58 non-null     object
 4   Owner_occupied_Moved in 2015 to 2018         58 non-null     object
 5   Owner_occupied_Moved in 2010 to 2014         201 non-null    object
 6   Owner_occupied_Moved in 2000 to 2009         288 non-null    object
 7   Owner_occupied_Moved in 1990 to 1999         346 non-null    object
 8   Owner_occupied_Moved in 1989 or earlier      114 non-null    object
 9   Renter_occupied                              346 non-null    object
 10  Renter_occupied_Moved in 2019 or later       58 non-null     object
 11  Renter_occupied_Moved in 2015 to 2018        58 non-null     object
 12  Renter_occupied_Moved in 2010 to 2014        201 non-null    object
 13  Renter_occupied_Moved in 2000 to 2009        288 non-null    object
 14  Renter_occupied_Moved in 1990 to 1999        346 non-null    object
 15  Renter_occupied_Moved in 1989 or earlier     114 non-null    object
 16  year                                         346 non-null    int64
 17  Owner_occupied_Moved in 2017 or later        56 non-null     object
 18  Owner_occupied_Moved in 2015 to 2016         56 non-null     object
 19  Renter_occupied_Moved in 2017 or later       56 non-null     object
 20  Renter_occupied_Moved in 2015 to 2016        56 non-null     object
 21  Owner_occupied_Moved in 2015 or later        87 non-null     object
 22  Owner_occupied_Moved in 1980 to 1989         232 non-null    object
 23  Owner_occupied_Moved in 1979 or earlier      87 non-null     object
 24  Renter_occupied_Moved in 2015 or later       87 non-null     object
 25  Renter_occupied_Moved in 1980 to 1989        232 non-null    object
 26  Renter_occupied_Moved in 1979 or earlier     87 non-null     object
 27  Owner_occupied_Moved in 2010 or later        87 non-null     object
 28  Owner_occupied_Moved in 1970 to 1979         145 non-null    object
 29  Owner_occupied_Moved in 1969 or earlier      145 non-null    object
 30  Renter_occupied_Moved in 2010 or later       87 non-null     object
 31  Renter_occupied_Moved in 1970 to 1979        145 non-null    object
 32  Renter_occupied_Moved in 1969 or earlier     145 non-null    object
 33  Owner_occupied_Moved in 2005 or later        58 non-null     object
 34  Owner_occupied_Moved in 2000 to 2004         58 non-null     object
 35  Renter_occupied_Moved in 2005 or later       58 non-null     object
 36  Renter_occupied_Moved in 2000 to 2004        58 non-null     object
dtypes: int64(1), object(36)
memory usage: 100.1+ KB

In [ ]:
result_df.to_csv('/content/drive/MyDrive/DS project/Dorchester_homeownership/sample_alltract.xlsx')

In [ ]:
for year in years:
  df = globals()[f'Dorchester_homeownership_{year}']
  for column in df.columns[: -1]:
    df[column] = df[column].str.replace('[^0-9-]', '', regex=True).astype(int)

In [ ]:
result

,census_tract,Total population in occupied housing units:,owner_occupied,Owner_occupied_Moved in 2005 or later,Owner_occupied_Moved in 2000 to 2004,Owner_occupied_Moved in 1990 to 1999,Owner_occupied_Moved in 1980 to 1989,Owner_occupied_Moved in 1970 to 1979,Owner_occupied_Moved in 1969 or earlier,renter_occupied,Renter_occupied_Moved in 2005 or later,Renter_occupied_Moved in 2000 to 2004,Renter_occupied_Moved in 1990 to 1999,Renter_occupied_Moved in 1980 to 1989,Renter_occupied_Moved in 1970 to 1979,Renter_occupied_Moved in 1969 or earlier,year
0,901,4941,1580,392,384,457,48,39,260,3361,1814,900,356,112,113,66,2011
1,902,2422,212,68,0,21,0,0,123,2210,1331,500,291,34,11,43,2011
2,903,2551,588,175,23,43,41,188,118,1963,1217,565,129,12,27,13,2011
3,907,3972,1058,245,235,176,212,42,148,2914,1877,644,252,89,28,24,2011
4,90901,3940,0,0,0,0,0,0,0,3940,2744,466,478,188,11,53,2011
5,91001,2668,1338,436,238,171,346,104,43,1330,737,387,146,0,17,43,2011
6,911,4628,2112,555,609,496,150,56,246,2516,1915,144,313,25,0,119,2011
7,912,2781,1258,151,159,518,216,65,149,1523,980,355,155,28,0,5,2011
8,913,1886,381,84,19,34,227,12,5,1505,825,543,94,0,43,0,2011
9,914,1884,718,235,62,137,130,49,105,1166,772,110,266,0,0,18,2011
10,915,4809,1408,299,342,404,120,243,0,3401,1915,862,321,232,60,11,2011
11,916,3517,685,97,248,282,58,0,0,2832,1333,943,479,77,0,0,2011
12,917,3208,1151,178,162,207,413,166,25,2057,1741,100,201,15,0,0,2011
13,918,3269,1149,42,414,525,90,78,0,2120,1548,99,227,167,79,0,2011
14,919,3851,1682,719,354,315,51,145,98,2169,1334,537,177,94,0,27,2011
15,920,5313,1898,450,488,637,148,146,29,3415,2147,510,335,269,154,0,2011
16,92101,6821,2765,786,435,1013,390,0,141,4056,2448,722,533,129,38,186,2011
17,922,2845,1117,243,182,517,34,68,73,1728,817,391,241,192,67,20,2011
18,923,2964,1170,326,162,284,301,0,97,1794,1442,105,132,108,7,0,2011
19,924,5597,1153,413,319,43,22,134,222,4444,3161,736,367,180,0,0,2011
20,1001,5607,1480,762,194,243,141,70,70,4127,2066,1384,462,196,12,7,2011
21,1002,2597,1009,240,185,161,225,74,124,1588,1069,343,135,0,0,41,2011
22,1003,3488,1364,399,249,203,233,280,0,2124,1574,116,304,0,130,0,2011
23,1004,4491,1639,73,386,429,428,251,72,2852,1902,427,428,28,67,0,2011
24,1005,5222,1811,278,216,627,310,248,132,3411,2195,820,254,11,131,0,2011
25,100601,4938,2516,729,390,856,120,146,275,2422,1366,431,478,49,98,0,2011
26,100603,1617,976,401,88,240,16,126,105,641,330,242,0,15,0,54,2011
27,1007,4354,2537,683,345,594,393,145,377,1817,999,229,267,48,231,43,2011
28,1008,6238,3425,663,884,784,565,374,155,2813,1840,397,419,157,0,0,2011
0,901,4658,1351,341,311,441,56,39,163,3307,1678,713,530,180,132,74,2010
1,902,2075,214,80,20,9,0,0,105,1861,810,641,318,29,0,63,2010
2,903,2525,591,151,34,167,56,90,93,1934,1142,557,204,0,20,11,2010
3,907,4157,1279,252,441,210,216,31,129,2878,1435,1009,268,112,10,44,2010
4,90901,4026,0,0,0,0,0,0,0,4026,2439,904,479,204,0,0,2010
5,91001,2479,1217,300,268,206,205,113,125,1262,466,555,175,0,17,49,2010
6,911,4344,2097,368,453,695,333,51,197,2247,1251,554,342,63,0,37,2010
7,912,2714,1189,78,69,534,302,98,108,1525,768,457,259,14,0,27,2010
8,913,1741,271,46,17,42,151,15,0,1470,669,523,193,0,22,63,2010
9,914,2008,716,176,75,202,193,0,70,1292,738,124,280,0,0,150,2010
10,915,4778,1541,202,317,590,172,232,28,3237,1458,1073,408,230,53,15,2010
11,916,3363,597,40,265,214,58,0,20,2766,1107,960,589,110,0,0,2010
12,917,3248,1166,83,201,338,319,205,20,2082,1688,82,301,11,0,0,2010
13,918,2929,1158,40,512,511,68,27,0,1771,1126,219,96,156,174,0,2010
14,919,3577,1475,512,547,146,71,84,115,2102,992,834,147,99,0,30,2010
15,920,5174,2007,492,397,675,229,194,20,3167,1729,513,422,381,122,0,2010
16,92101,5662,2033,184,264,946,406,0,233,3629,2055,803,553,93,0,125,2010
17,922,2932,986,156,219,312,96,157,46,1946,1201,448,129,149,0,19,2010
18,923,2662,1188,259,264,297,315,0,53,1474,1008,227,105,125,9,0,2010
19,924,5995,1379,600,371,29,0,152,227,4616,2723,1193,562,138,0,0,2010
20,1001,5575,1665,780,356,302,27,76,124,3910,1747,1408,381,344,18,12,2010
21,1002,2893,1407,353,205,233,250,65,301,1486,947,362,126,0,0,51,2010
22,1003,3555,1394,189,136,329,395,306,39,2161,1463,131,396,0,171,0,2010
23,1004,4635,1788,200,458,475,382,231,42,2847,1620,669,416,53,89,0,2010
24,1005,4803,1891,272,221,759,297,195,147,2912,1564,907,407,34,0,0,2010
25,100601,4653,2416,329,311,908,131,370,367,2237,1061,680,368,61,67,0,2010
26,100603,1651,1155,198,97,606,38,112,104,496,231,168,41,0,0,56,2010
27,1007,4186,2412,312,646,481,428,152,393,1774,1120,298,272,46,0,38,2010
28,1008,5602,3305,576,963,670,618,354,124,2297,1063,525,528,173,0,8,2010

In [ ]:
result.sort_values(by=['census_tract', 'year'], inplace=True)

# Calculate the percentage change within each 'census_tract' group
result['percentage_change'] = result.groupby('census_tract')['Owner_occupied_Moved in 2005 or later'].pct_change()

In [ ]:
 columns_percentage_cal = ['owner_occupied', 'Owner_occupied_Moved in 2005 or later',
       'Owner_occupied_Moved in 2000 to 2004',
       'Owner_occupied_Moved in 1990 to 1999',
       'Owner_occupied_Moved in 1980 to 1989',
       'Owner_occupied_Moved in 1970 to 1979',
       'Owner_occupied_Moved in 1969 or earlier', 'renter_occupied',
       'Renter_occupied_Moved in 2005 or later',
       'Renter_occupied_Moved in 2000 to 2004',
       'Renter_occupied_Moved in 1990 to 1999',
       'Renter_occupied_Moved in 1980 to 1989',
       'Renter_occupied_Moved in 1970 to 1979',
       'Renter_occupied_Moved in 1969 or earlier']

In [ ]:
five_dfs = [Roxbury_homeownership_2021_2020,

Roxbury_homeownership_2019_2018,

Roxbury_homeownership_2017_2016_2015,
Roxbury_homeownership_2014_2013_2012,

Roxbury_homeownership_2011_2010]

In [ ]:
for df in five_dfs:
  selected_columns_to_calculate = df.iloc[:, range(2,16)]
  for column in  selected_columns_to_calculate.columns:
    df[f'{column}_percentage_change'] = df.groupby('census_tract')[column].pct_change()

In [ ]:
selected_columns_to_calculate.columns

Index(['Owner_occupied', 'Owner_occupied_Moved in 2005 or later',
       'Owner_occupied_Moved in 2000 to 2004',
       'Owner_occupied_Moved in 1990 to 1999',
       'Owner_occupied_Moved in 1980 to 1989',
       'Owner_occupied_Moved in 1970 to 1979',
       'Owner_occupied_Moved in 1969 or earlier', 'Renter_occupied',
       'Renter_occupied_Moved in 2005 or later',
       'Renter_occupied_Moved in 2000 to 2004',
       'Renter_occupied_Moved in 1990 to 1999',
       'Renter_occupied_Moved in 1980 to 1989',
       'Renter_occupied_Moved in 1970 to 1979',
       'Renter_occupied_Moved in 1969 or earlier'],
      dtype='object')

In [ ]:
Roxbury_homeownership_2017_2016_2015.to_xlsx('/content/drive/MyDrive/DS project/Roxbury_homeownership/2017_2016_2015.xlsx')

In [ ]:
for column in  columns_percentage_cal:
    result[f'{column}_percentage_change'] = result.groupby('census_tract')[column].pct_change()

In [ ]:
Roxbury_homeownership_2021

,0,census_tract,Label,Total population in occupied housing units:,Owner_occupied_Owner occupied:,Owner_occupied_Moved in 2019 or later,Owner_occupied_Moved in 2015 to 2018,Owner_occupied_Moved in 2010 to 2014,Owner_occupied_Moved in 2000 to 2009,Owner_occupied_Moved in 1990 to 1999,Moved in 1989 or earlier,Renter_occupiedRenter occupied:,Renter_occupiedMoved in 2019 or later,Renter_occupiedMoved in 2015 to 2018,Renter_occupiedMoved in 2010 to 2014,Renter_occupiedMoved in 2000 to 2009,Renter_occupiedMoved in 1990 to 1999,Moved in 1989 or earlier
1,1,"Census Tract 901, Suffolk County, Massachusetts",Estimate,"5,185",771,0,32,159,89,180,311,"4,414",230,"1,531","1,452",951,101,149
2,2,NaN,Margin of Error,Â±803,Â±300,Â±19,Â±49,Â±120,Â±126,Â±151,Â±184,Â±734,Â±259,Â±565,Â±493,Â±381,Â±79,Â±157
3,3,"Census Tract 902, Suffolk County, Massachusetts",Estimate,"3,084",516,11,25,19,105,264,92,"2,568",210,678,480,"1,022",161,17
4,4,NaN,Margin of Error,Â±727,Â±259,Â±17,Â±48,Â±27,Â±128,Â±218,Â±67,Â±845,Â±225,Â±398,Â±268,Â±757,Â±106,Â±19
5,5,"Census Tract 903, Suffolk County, Massachusetts",Estimate,"3,206",404,43,53,34,38,150,86,"2,802",870,734,732,402,45,19
6,6,NaN,Margin of Error,Â±684,Â±227,Â±62,Â±57,Â±72,Â±64,Â±151,Â±69,Â±707,Â±393,Â±539,Â±423,Â±244,Â±48,Â±29
7,7,"Census Tract 907, Suffolk County, Massachusetts",Estimate,"4,059","1,648",0,257,344,670,172,205,"2,411",261,"1,155",504,292,21,178
8,8,NaN,Margin of Error,Â±512,Â±460,Â±13,Â±163,Â±219,Â±468,Â±166,Â±117,Â±441,Â±166,Â±379,Â±208,Â±185,Â±35,Â±150
9,9,"Census Tract 909.01, Suffolk County, Massachus...",Estimate,"3,042",0,0,0,0,0,0,0,"3,042",789,"1,414",452,327,40,20
10,10,NaN,Margin of Error,Â±446,Â±13,Â±13,Â±13,Â±13,Â±13,Â±13,Â±13,Â±446,Â±285,Â±353,Â±185,Â±176,Â±39,Â±22
11,11,"Census Tract 910.01, Suffolk County, Massachus...",Estimate,"3,105","1,277",9,412,102,280,164,310,"1,828",215,965,517,91,26,14
12,12,NaN,Margin of Error,Â±661,Â±378,Â±14,Â±267,Â±79,Â±204,Â±105,Â±186,Â±577,Â±111,Â±549,Â±225,Â±88,Â±40,Â±22
13,13,"Census Tract 911, Suffolk County, Massachusetts",Estimate,"4,599","2,087",117,160,625,500,186,499,"2,512",408,"1,110",505,241,45,203
14,14,NaN,Margin of Error,Â±634,Â±685,Â±122,Â±103,Â±346,Â±335,Â±149,Â±383,Â±471,Â±205,Â±279,Â±242,Â±155,Â±51,Â±138
15,15,"Census Tract 912, Suffolk County, Massachusetts",Estimate,"2,942","1,075",42,107,103,150,500,173,"1,867",173,791,397,473,0,33
16,16,NaN,Margin of Error,Â±525,Â±384,Â±53,Â±89,Â±78,Â±133,Â±367,Â±88,Â±531,Â±184,Â±387,Â±314,Â±276,Â±13,Â±46
17,17,"Census Tract 913, Suffolk County, Massachusetts",Estimate,"2,397",852,51,204,11,286,203,97,"1,545",171,646,460,257,6,5
18,18,NaN,Margin of Error,Â±342,Â±338,Â±50,Â±169,Â±17,Â±129,Â±206,Â±67,Â±356,Â±188,Â±251,Â±270,Â±142,Â±12,Â±9
19,19,"Census Tract 914, Suffolk County, Massachusetts",Estimate,"2,764","1,302",29,186,0,596,305,186,"1,462",210,481,370,281,0,120
20,20,NaN,Margin of Error,Â±416,Â±323,Â±40,Â±220,Â±13,Â±224,Â±148,Â±119,Â±297,Â±175,Â±222,Â±225,Â±152,Â±13,Â±107
21,21,"Census Tract 915, Suffolk County, Massachusetts",Estimate,"4,194","1,965",143,409,97,613,319,384,"2,229",510,876,413,327,55,48
22,22,NaN,Margin of Error,Â±655,Â±535,Â±117,Â±215,Â±67,Â±327,Â±234,Â±228,Â±558,Â±371,Â±358,Â±213,Â±213,Â±81,Â±49
23,23,"Census Tract 916, Suffolk County, Massachusetts",Estimate,"2,579",498,20,80,131,131,124,12,"2,081",134,"1,087",414,276,82,88
24,24,NaN,Margin of Error,Â±811,Â±247,Â±31,Â±63,Â±172,Â±153,Â±144,Â±21,Â±821,Â±163,Â±815,Â±300,Â±247,Â±93,Â±95
25,25,"Census Tract 917, Suffolk County, Massachusetts",Estimate,"3,447","1,122",56,152,101,182,300,331,"2,325",409,402,760,514,148,92
26,26,NaN,Margin of Error,Â±578,Â±331,Â±60,Â±95,Â±97,Â±112,Â±179,Â±242,Â±580,Â±472,Â±208,Â±466,Â±350,Â±136,Â±94
27,27,"Census Tract 918, Suffolk County, Massachusetts",Estimate,"3,275",825,27,19,207,164,259,149,"2,450",197,"1,534",354,322,43,0
28,28,NaN,Margin of Error,Â±600,Â±351,Â±45,Â±33,Â±194,Â±194,Â±181,Â±122,Â±535,Â±189,Â±541,Â±236,Â±204,Â±48,Â±13
29,29,"Census Tract 919, Suffolk County, Massachusetts",Estimate,"4,556","1,917",138,192,318,310,576,383,"2,639",274,"1,000",634,559,76,96
30,30,NaN,Margin of Error,Â±969,Â±745,Â±216,Â±211,Â±388,Â±267,Â±371,Â±244,Â±635,Â±243,Â±473,Â±373,Â±403,Â±100,Â±118
31,31,"Census Tract 920, Suffolk County, Massachusetts",Estimate,"5,529","1,906",81,97,88,908,111,621,"3,623",338,"2,374",432,405,58,16
32,32,NaN,Margin of Error,Â±804,Â±637,Â±72,Â±146,Â±128,Â±639,Â±108,Â±285,Â±693,Â±217,Â±716,Â±252,Â±208,Â±82,Â±23
33,33,"Census Tract 921.01, Suffolk County, Massachus...",Estimate,"6,249","2,278",171,432,178,430,802,265,"3,971","1,123",844,"1,238",537,229,0
34,34,NaN,Margin of Error,Â±872,Â±784,Â±161,Â±296,Â±210,Â±419,Â±538,Â±191,Â±857,Â±644,Â±348,Â±696,Â±350,Â±261,Â±19
35,35,"Census Tract 922, Suffolk County, Massachusetts",Estimate,"3,525","2,076",72,163,392,238,495,716,"1,449",277,238,566,221,113,34
36,36,NaN,Margin of Error,Â±694,Â±612,Â±87,Â±100,Â±178,Â±173,Â±273,Â±559,Â±470,Â±288,Â±188,Â±337,Â±182,Â±106,Â±57
37,37,"Census Tract 923, Suffolk County, Massachusetts",Estimate,"3,834","1,650",23,309,141,588,390,199,"2,184",740,517,556,190,112,69
38,38,NaN,Margin of Error,Â±495,Â±408,Â±32,Â±163,Â±145,Â±313,Â±243,Â±104,Â±510,Â±408,Â±259,Â±296,Â±222,Â±120,Â±60
39,39,"Census Tract 924, Suffolk County, Massachusetts",Estimate,"5,987","1,065",98,0,209,245,277,236,"4,922",396,"1,401","1,522","1,551",31,21
40,40,NaN,Margin of Error,"Â±1,044",Â±428,Â±161,Â±19,Â±252,Â±289,Â±254,Â±275,"Â±1,028",Â±367,Â±592,Â±644,"Â±1,037",Â±49,Â±33
41,41,"Census Tract 1001, Suffolk County, Massachusetts",Estimate,"7,230","2,065",166,715,149,264,628,143,"5,165",850,"1,306","1,837",721,316,135
42,42,NaN,Margin of Error,"Â±1,049",Â±765,Â±160,Â±418,Â±156,Â±229,Â±492,Â±153,"Â±1,096",Â±604,Â±723,Â±719,Â±335,Â±280,Â±137
43,43,"Census Tract 1002, Suffolk County, Massachusetts",Estimate,"3,748","1,670",0,157,25,502,296,690,"2,078",182,542,720,466,156,12
44,44,NaN,Margin of Error,Â±603,Â±577,Â±13,Â±113,Â±27,Â±294,Â±216,Â±422,Â±361,Â±142,Â±287,Â±334,Â±246,Â±95,Â±20
45,45,"Census Tract 1003, Suffolk County, Massachusetts",Estimate,"4,094","1,936",11,178,385,633,201,528,"2,158",343,923,744,91,57,0
46,46,NaN,Margin of Error,Â±685,Â±566,Â±17,Â±142,Â±288,Â±483,Â±154,Â±266,Â±548,Â±386,Â±299,Â±314,Â±94,Â±93,Â±13
47,47,"Census Tract 1004, Suffolk County, Massachusetts",Estimate,"5,783","2,656",361,374,344,448,341,788,"3,127",606,"1,127",933,169,259,33
48,48,NaN,Margin of Error,Â±837,Â±643,Â±343,Â±207,Â±250,Â±338,Â±196,Â±608,Â±749,Â±403,Â±634,Â±453,Â±166,Â±173,Â±38
49,49,"Census Tract 1005, Suffolk County, Massachusetts",Estimate,"7,049","2,960",26,"1,076",174,464,678,542,"4,089",990,"1,435","1,094",237,333,0
50,50,NaN,Margin of Error,Â±955,Â±756,Â±39,Â±492,Â±148,Â±425,Â±429,Â±400,Â±825,Â±760,Â±463,Â±513,Â±159,Â±285,Â±19
51,51,"Census Tract 1006.01, Suffolk County, Massachu...",Estimate,"5,681","2,504",88,576,171,908,579,182,"3,177",905,"1,221",795,28,228,0
52,52,NaN,Margin of Error,Â±841,Â±779,Â±140,Â±373,Â±151,Â±528,Â±373,Â±166,Â±864,Â±583,Â±485,Â±420,Â±45,Â±217,Â±19
53,53,"Census Tract 1006.03, Suffolk County, Massachu...",Estimate,"2,051","1,404",89,353,206,293,238,225,647,95,352,119,59,20,2
54,54,NaN,Margin of Error,Â±438,Â±434,Â±79,Â±159,Â±110,Â±160,Â±372,Â±134,Â±185,Â±68,Â±144,Â±75,Â±60,Â±32,Â±10
55,55,"Census Tract 1007, Suffolk County, Massachusetts",Estimate,"4,238","2,909",100,411,431,750,771,446,"1,329",133,528,352,264,12,40
56,56,NaN,Margin of Error,Â±700,Â±661,Â±111,Â±199,Â±390,Â±183,Â±339,Â±178,Â±365,Â±151,Â±178,Â±266,Â±157,Â±17,Â±38
57,57,"Census Tract 1008, Suffolk County, Massachusetts",Estimate,"6,001","2,874",85,758,497,388,547,599,"3,127",304,661,"1,086",862,169,45
58,58,NaN,Margin of Error,Â±666,Â±614,Â±114,Â±407,Â±277,Â±288,Â±344,Â±341,Â±675,Â±203,Â±268,Â±569,Â±351,Â±190,Â±70

In [ ]:
import re
df = pd.read_excel('/content/drive/MyDrive/DS project/Roxbury_homeownership/ACSDT5Y2010.xlsx', sheet_name=1)

df = df.transpose().reset_index()
df.columns = df.iloc[0]
# Drop the first row
df = df.iloc[1:]

df.columns = ['Owner_occupied_' + col if 9>= i >= 4 else col for i, col in enumerate(df.columns)]
df.columns = ['Renter_occupied' + col if 16>= i >= 11 else col for i, col in enumerate(df.columns)]

df = df[~df['Unnamed: 0'].str.contains('Unnamed')]

#df['Unnamed: 0'] = df['Unnamed: 0'].apply(lambda x: re.sub(r'[^0-9.]', '', x) if isinstance(x, str) else x)
df['Unnamed: 0'] = df['Unnamed: 0'].apply(lambda x: re.sub(r'[^0-9]', '', x) if isinstance(x, str) else x)
df = df.reset_index()
df = df.drop(columns = ['Label', 'index'], axis=1)

In [ ]:
df

,Unnamed: 0,Total population in occupied housing units:,Owner occupied:,Owner_occupied_Moved in 2005 or later,Owner_occupied_Moved in 2000 to 2004,Owner_occupied_Moved in 1990 to 1999,Owner_occupied_Moved in 1980 to 1989,Owner_occupied_Moved in 1970 to 1979,Owner_occupied_Moved in 1969 or earlier,Renter occupied:,Renter_occupiedMoved in 2005 or later,Renter_occupiedMoved in 2000 to 2004,Renter_occupiedMoved in 1990 to 1999,Renter_occupiedMoved in 1980 to 1989,Renter_occupiedMoved in 1970 to 1979,Renter_occupiedMoved in 1969 or earlier
0,901,"4,658","1,351",341,311,441,56,39,163,"3,307","1,678",713,530,180,132,74
1,902,"2,075",214,80,20,9,0,0,105,"1,861",810,641,318,29,0,63
2,903,"2,525",591,151,34,167,56,90,93,"1,934","1,142",557,204,0,20,11
3,907,"4,157","1,279",252,441,210,216,31,129,"2,878","1,435","1,009",268,112,10,44
4,90901,"4,026",0,0,0,0,0,0,0,"4,026","2,439",904,479,204,0,0
5,91001,"2,479","1,217",300,268,206,205,113,125,"1,262",466,555,175,0,17,49
6,911,"4,344","2,097",368,453,695,333,51,197,"2,247","1,251",554,342,63,0,37
7,912,"2,714","1,189",78,69,534,302,98,108,"1,525",768,457,259,14,0,27
8,913,"1,741",271,46,17,42,151,15,0,"1,470",669,523,193,0,22,63
9,914,"2,008",716,176,75,202,193,0,70,"1,292",738,124,280,0,0,150
10,915,"4,778","1,541",202,317,590,172,232,28,"3,237","1,458","1,073",408,230,53,15
11,916,"3,363",597,40,265,214,58,0,20,"2,766","1,107",960,589,110,0,0
12,917,"3,248","1,166",83,201,338,319,205,20,"2,082","1,688",82,301,11,0,0
13,918,"2,929","1,158",40,512,511,68,27,0,"1,771","1,126",219,96,156,174,0
14,919,"3,577","1,475",512,547,146,71,84,115,"2,102",992,834,147,99,0,30
15,920,"5,174","2,007",492,397,675,229,194,20,"3,167","1,729",513,422,381,122,0
16,92101,"5,662","2,033",184,264,946,406,0,233,"3,629","2,055",803,553,93,0,125
17,922,"2,932",986,156,219,312,96,157,46,"1,946","1,201",448,129,149,0,19
18,923,"2,662","1,188",259,264,297,315,0,53,"1,474","1,008",227,105,125,9,0
19,924,"5,995","1,379",600,371,29,0,152,227,"4,616","2,723","1,193",562,138,0,0
20,1001,"5,575","1,665",780,356,302,27,76,124,"3,910","1,747","1,408",381,344,18,12
21,1002,"2,893","1,407",353,205,233,250,65,301,"1,486",947,362,126,0,0,51
22,1003,"3,555","1,394",189,136,329,395,306,39,"2,161","1,463",131,396,0,171,0
23,1004,"4,635","1,788",200,458,475,382,231,42,"2,847","1,620",669,416,53,89,0
24,1005,"4,803","1,891",272,221,759,297,195,147,"2,912","1,564",907,407,34,0,0
25,100601,"4,653","2,416",329,311,908,131,370,367,"2,237","1,061",680,368,61,67,0
26,100603,"1,651","1,155",198,97,606,38,112,104,496,231,168,41,0,0,56
27,1007,"4,186","2,412",312,646,481,428,152,393,"1,774","1,120",298,272,46,0,38
28,1008,"5,602","3,305",576,963,670,618,354,124,"2,297","1,063",525,528,173,0,8

In [ ]:
df

,Unnamed: 0,Total population in occupied housing units:,Owner occupied:,Owner_occupied_Moved in 2005 or later,Owner_occupied_Moved in 2000 to 2004,Owner_occupied_Moved in 1990 to 1999,Owner_occupied_Moved in 1980 to 1989,Owner_occupied_Moved in 1970 to 1979,Owner_occupied_Moved in 1969 or earlier,Renter occupied:,Renter_occupiedMoved in 2005 or later,Renter_occupiedMoved in 2000 to 2004,Renter_occupiedMoved in 1990 to 1999,Renter_occupiedMoved in 1980 to 1989,Renter_occupiedMoved in 1970 to 1979,Renter_occupiedMoved in 1969 or earlier
0,901,"4,658","1,351",341,311,441,56,39,163,"3,307","1,678",713,530,180,132,74
1,902,"2,075",214,80,20,9,0,0,105,"1,861",810,641,318,29,0,63
2,903,"2,525",591,151,34,167,56,90,93,"1,934","1,142",557,204,0,20,11
3,907,"4,157","1,279",252,441,210,216,31,129,"2,878","1,435","1,009",268,112,10,44
4,90901,"4,026",0,0,0,0,0,0,0,"4,026","2,439",904,479,204,0,0
5,91001,"2,479","1,217",300,268,206,205,113,125,"1,262",466,555,175,0,17,49
6,911,"4,344","2,097",368,453,695,333,51,197,"2,247","1,251",554,342,63,0,37
7,912,"2,714","1,189",78,69,534,302,98,108,"1,525",768,457,259,14,0,27
8,913,"1,741",271,46,17,42,151,15,0,"1,470",669,523,193,0,22,63
9,914,"2,008",716,176,75,202,193,0,70,"1,292",738,124,280,0,0,150
10,915,"4,778","1,541",202,317,590,172,232,28,"3,237","1,458","1,073",408,230,53,15
11,916,"3,363",597,40,265,214,58,0,20,"2,766","1,107",960,589,110,0,0
12,917,"3,248","1,166",83,201,338,319,205,20,"2,082","1,688",82,301,11,0,0
13,918,"2,929","1,158",40,512,511,68,27,0,"1,771","1,126",219,96,156,174,0
14,919,"3,577","1,475",512,547,146,71,84,115,"2,102",992,834,147,99,0,30
15,920,"5,174","2,007",492,397,675,229,194,20,"3,167","1,729",513,422,381,122,0
16,92101,"5,662","2,033",184,264,946,406,0,233,"3,629","2,055",803,553,93,0,125
17,922,"2,932",986,156,219,312,96,157,46,"1,946","1,201",448,129,149,0,19
18,923,"2,662","1,188",259,264,297,315,0,53,"1,474","1,008",227,105,125,9,0
19,924,"5,995","1,379",600,371,29,0,152,227,"4,616","2,723","1,193",562,138,0,0
20,1001,"5,575","1,665",780,356,302,27,76,124,"3,910","1,747","1,408",381,344,18,12
21,1002,"2,893","1,407",353,205,233,250,65,301,"1,486",947,362,126,0,0,51
22,1003,"3,555","1,394",189,136,329,395,306,39,"2,161","1,463",131,396,0,171,0
23,1004,"4,635","1,788",200,458,475,382,231,42,"2,847","1,620",669,416,53,89,0
24,1005,"4,803","1,891",272,221,759,297,195,147,"2,912","1,564",907,407,34,0,0
25,100601,"4,653","2,416",329,311,908,131,370,367,"2,237","1,061",680,368,61,67,0
26,100603,"1,651","1,155",198,97,606,38,112,104,496,231,168,41,0,0,56
27,1007,"4,186","2,412",312,646,481,428,152,393,"1,774","1,120",298,272,46,0,38
28,1008,"5,602","3,305",576,963,670,618,354,124,"2,297","1,063",525,528,173,0,8

In [ ]:
Owner occupied:	Moved in 2005 or later
df = df.drop(columns=columns_to_drop, axis=1)

,Total population in occupied housing units:,Owner occupied:,Moved in 2005 or later,Moved in 2000 to 2004,Moved in 1990 to 1999,Moved in 1980 to 1989,Moved in 1970 to 1979,Moved in 1969 or earlier,Renter occupied:,Moved in 2005 or later,Moved in 2000 to 2004,Moved in 1990 to 1999,Moved in 1980 to 1989,Moved in 1970 to 1979,Moved in 1969 or earlier
1,"4,658","1,351",341,311,441,56,39,163,"3,307","1,678",713,530,180,132,74
2,Â±561,Â±442,Â±324,Â±240,Â±257,Â±74,Â±60,Â±82,Â±515,Â±474,Â±322,Â±234,Â±144,Â±105,Â±66
3,"2,075",214,80,20,9,0,0,105,"1,861",810,641,318,29,0,63
4,Â±340,Â±175,Â±103,Â±31,Â±14,Â±127,Â±127,Â±142,Â±358,Â±331,Â±510,Â±297,Â±53,Â±127,Â±63
5,"2,525",591,151,34,167,56,90,93,"1,934","1,142",557,204,0,20,11
6,Â±409,Â±302,Â±158,Â±52,Â±180,Â±67,Â±90,Â±83,Â±399,Â±328,Â±361,Â±166,Â±127,Â±33,Â±18
7,"4,157","1,279",252,441,210,216,31,129,"2,878","1,435","1,009",268,112,10,44
8,Â±483,Â±391,Â±132,Â±281,Â±136,Â±156,Â±34,Â±102,Â±469,Â±457,Â±359,Â±141,Â±76,Â±17,Â±51
9,"4,026",0,0,0,0,0,0,0,"4,026","2,439",904,479,204,0,0
10,Â±413,Â±127,Â±127,Â±127,Â±127,Â±127,Â±127,Â±127,Â±413,Â±477,Â±310,Â±285,Â±156,Â±127,Â±127
11,"2,479","1,217",300,268,206,205,113,125,"1,262",466,555,175,0,17,49
12,Â±225,Â±269,Â±167,Â±166,Â±128,Â±141,Â±96,Â±133,Â±262,Â±174,Â±222,Â±126,Â±127,Â±30,Â±73
13,"4,344","2,097",368,453,695,333,51,197,"2,247","1,251",554,342,63,0,37
14,Â±506,Â±557,Â±199,Â±290,Â±412,Â±251,Â±58,Â±119,Â±475,Â±396,Â±371,Â±228,Â±75,Â±127,Â±47
15,"2,714","1,189",78,69,534,302,98,108,"1,525",768,457,259,14,0,27
16,Â±399,Â±304,Â±62,Â±58,Â±262,Â±199,Â±89,Â±121,Â±287,Â±299,Â±207,Â±194,Â±14,Â±127,Â±33
17,"1,741",271,46,17,42,151,15,0,"1,470",669,523,193,0,22,63
18,Â±339,Â±160,Â±40,Â±31,Â±64,Â±143,Â±23,Â±127,Â±355,Â±310,Â±255,Â±113,Â±127,Â±41,Â±73
19,"2,008",716,176,75,202,193,0,70,"1,292",738,124,280,0,0,150
20,Â±277,Â±318,Â±151,Â±73,Â±186,Â±200,Â±127,Â±115,Â±267,Â±236,Â±97,Â±165,Â±127,Â±127,Â±164
21,"4,778","1,541",202,317,590,172,232,28,"3,237","1,458","1,073",408,230,53,15
22,Â±429,Â±351,Â±121,Â±261,Â±259,Â±125,Â±131,Â±32,Â±505,Â±561,Â±481,Â±240,Â±187,Â±79,Â±22
23,"3,363",597,40,265,214,58,0,20,"2,766","1,107",960,589,110,0,0
24,Â±358,Â±277,Â±46,Â±187,Â±197,Â±54,Â±127,Â±31,Â±492,Â±440,Â±458,Â±332,Â±124,Â±127,Â±127
25,"3,248","1,166",83,201,338,319,205,20,"2,082","1,688",82,301,11,0,0
26,Â±579,Â±414,Â±100,Â±184,Â±215,Â±221,Â±253,Â±34,Â±521,Â±546,Â±109,Â±188,Â±16,Â±127,Â±127
27,"2,929","1,158",40,512,511,68,27,0,"1,771","1,126",219,96,156,174,0
28,Â±390,Â±340,Â±55,Â±270,Â±273,Â±75,Â±44,Â±127,Â±438,Â±444,Â±173,Â±110,Â±157,Â±205,Â±127
29,"3,577","1,475",512,547,146,71,84,115,"2,102",992,834,147,99,0,30
30,Â±468,Â±447,Â±299,Â±353,Â±97,Â±91,Â±110,Â±93,Â±434,Â±365,Â±329,Â±155,Â±131,Â±127,Â±36
31,"5,174","2,007",492,397,675,229,194,20,"3,167","1,729",513,422,381,122,0
32,Â±495,Â±520,Â±333,Â±279,Â±394,Â±209,Â±102,Â±27,Â±536,Â±606,Â±338,Â±287,Â±346,Â±182,Â±127
33,"5,662","2,033",184,264,946,406,0,233,"3,629","2,055",803,553,93,0,125
34,Â±631,Â±429,Â±157,Â±236,Â±356,Â±299,Â±127,Â±153,Â±680,Â±589,Â±432,Â±423,Â±65,Â±127,Â±157
35,"2,932",986,156,219,312,96,157,46,"1,946","1,201",448,129,149,0,19
36,Â±292,Â±319,Â±145,Â±211,Â±148,Â±67,Â±107,Â±45,Â±357,Â±318,Â±234,Â±134,Â±145,Â±127,Â±23
37,"2,662","1,188",259,264,297,315,0,53,"1,474","1,008",227,105,125,9,0
38,Â±272,Â±301,Â±219,Â±227,Â±122,Â±175,Â±127,Â±48,Â±362,Â±328,Â±173,Â±97,Â±173,Â±15,Â±127
39,"5,995","1,379",600,371,29,0,152,227,"4,616","2,723","1,193",562,138,0,0
40,Â±535,Â±545,Â±427,Â±260,Â±45,Â±127,Â±106,Â±200,Â±588,Â±612,Â±430,Â±313,Â±159,Â±127,Â±127
41,"5,575","1,665",780,356,302,27,76,124,"3,910","1,747","1,408",381,344,18,12
42,Â±566,Â±606,Â±583,Â±263,Â±190,Â±40,Â±101,Â±100,Â±555,Â±466,Â±503,Â±216,Â±197,Â±21,Â±37
43,"2,893","1,407",353,205,233,250,65,301,"1,486",947,362,126,0,0,51
44,Â±361,Â±484,Â±327,Â±144,Â±144,Â±204,Â±70,Â±287,Â±359,Â±262,Â±204,Â±113,Â±127,Â±127,Â±78
45,"3,555","1,394",189,136,329,395,306,39,"2,161","1,463",131,396,0,171,0
46,Â±466,Â±487,Â±226,Â±176,Â±155,Â±292,Â±199,Â±62,Â±543,Â±454,Â±114,Â±346,Â±127,Â±195,Â±127
47,"4,635","1,788",200,458,475,382,231,42,"2,847","1,620",669,416,53,89,0
48,Â±553,Â±422,Â±229,Â±253,Â±234,Â±216,Â±158,Â±45,Â±634,Â±564,Â±440,Â±341,Â±64,Â±76,Â±127
49,"4,803","1,891",272,221,759,297,195,147,"2,912","1,564",907,407,34,0,0
50,Â±574,Â±492,Â±198,Â±149,Â±524,Â±181,Â±207,Â±151,Â±511,Â±365,Â±434,Â±220,Â±40,Â±127,Â±127
51,"4,653","2,416",329,311,908,131,370,367,"2,237","1,061",680,368,61,67,0
52,Â±612,Â±495,Â±181,Â±224,Â±502,Â±122,Â±354,Â±240,Â±491,Â±396,Â±331,Â±172,Â±53,Â±80,Â±127
53,"1,651","1,155",198,97,606,38,112,104,496,231,168,41,0,0,56
54,Â±193,Â±220,Â±135,Â±88,Â±237,Â±39,Â±87,Â±81,Â±157,Â±129,Â±147,Â±49,Â±127,Â±127,Â±60
55,"4,186","2,412",312,646,481,428,152,393,"1,774","1,120",298,272,46,0,38
56,Â±308,Â±324,Â±173,Â±261,Â±282,Â±195,Â±66,Â±140,Â±348,Â±300,Â±185,Â±185,Â±44,Â±127,Â±44
57,"5,602","3,305",576,963,670,618,354,124,"2,297","1,063",525,528,173,0,8
58,Â±571,Â±717,Â±386,Â±490,Â±298,Â±350,Â±429,Â±112,Â±531,Â±445,Â±224,Â±246,Â±130,Â±127,Â±13

In [ ]:
owner = "Owner_occupied_"
owner_subyear= [4,5,6,7,8,9]

# Add the prefix to the selected columns for each row
for col in owner_subyear:
    df[col] = owner + df[col].astype(str)

In [ ]:
df

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Unnamed: 0,Label,Total population in occupied housing units:,Owner occupied:,Moved in 2005 or later,Owner_occupied_Moved in 2000 to 2004,Owner_occupied_Moved in 1990 to 1999,Owner_occupied_Moved in 1980 to 1989,Owner_occupied_Moved in 1970 to 1979,Owner_occupied_Moved in 1969 or earlier,Owner_occupied_Renter occupied:,Moved in 2005 or later,Moved in 2000 to 2004,Moved in 1990 to 1999,Moved in 1980 to 1989,Moved in 1970 to 1979,Moved in 1969 or earlier
1,"Census Tract 901, Suffolk County, Massachusetts",Estimate,"4,658","1,351",341,Owner_occupied_311,Owner_occupied_441,Owner_occupied_56,Owner_occupied_39,Owner_occupied_163,"Owner_occupied_3,307","1,678",713,530,180,132,74
2,Unnamed: 2,Margin of Error,Â±561,Â±442,Â±324,Owner_occupied_Â±240,Owner_occupied_Â±257,Owner_occupied_Â±74,Owner_occupied_Â±60,Owner_occupied_Â±82,Owner_occupied_Â±515,Â±474,Â±322,Â±234,Â±144,Â±105,Â±66
3,"Census Tract 902, Suffolk County, Massachusetts",Estimate,"2,075",214,80,Owner_occupied_20,Owner_occupied_9,Owner_occupied_0,Owner_occupied_0,Owner_occupied_105,"Owner_occupied_1,861",810,641,318,29,0,63
4,Unnamed: 4,Margin of Error,Â±340,Â±175,Â±103,Owner_occupied_Â±31,Owner_occupied_Â±14,Owner_occupied_Â±127,Owner_occupied_Â±127,Owner_occupied_Â±142,Owner_occupied_Â±358,Â±331,Â±510,Â±297,Â±53,Â±127,Â±63
5,"Census Tract 903, Suffolk County, Massachusetts",Estimate,"2,525",591,151,Owner_occupied_34,Owner_occupied_167,Owner_occupied_56,Owner_occupied_90,Owner_occupied_93,"Owner_occupied_1,934","1,142",557,204,0,20,11
6,Unnamed: 6,Margin of Error,Â±409,Â±302,Â±158,Owner_occupied_Â±52,Owner_occupied_Â±180,Owner_occupied_Â±67,Owner_occupied_Â±90,Owner_occupied_Â±83,Owner_occupied_Â±399,Â±328,Â±361,Â±166,Â±127,Â±33,Â±18
7,"Census Tract 907, Suffolk County, Massachusetts",Estimate,"4,157","1,279",252,Owner_occupied_441,Owner_occupied_210,Owner_occupied_216,Owner_occupied_31,Owner_occupied_129,"Owner_occupied_2,878","1,435","1,009",268,112,10,44
8,Unnamed: 8,Margin of Error,Â±483,Â±391,Â±132,Owner_occupied_Â±281,Owner_occupied_Â±136,Owner_occupied_Â±156,Owner_occupied_Â±34,Owner_occupied_Â±102,Owner_occupied_Â±469,Â±457,Â±359,Â±141,Â±76,Â±17,Â±51
9,"Census Tract 909.01, Suffolk County, Massachus...",Estimate,"4,026",0,0,Owner_occupied_0,Owner_occupied_0,Owner_occupied_0,Owner_occupied_0,Owner_occupied_0,"Owner_occupied_4,026","2,439",904,479,204,0,0
10,Unnamed: 10,Margin of Error,Â±413,Â±127,Â±127,Owner_occupied_Â±127,Owner_occupied_Â±127,Owner_occupied_Â±127,Owner_occupied_Â±127,Owner_occupied_Â±127,Owner_occupied_Â±413,Â±477,Â±310,Â±285,Â±156,Â±127,Â±127
11,"Census Tract 910.01, Suffolk County, Massachus...",Estimate,"2,479","1,217",300,Owner_occupied_268,Owner_occupied_206,Owner_occupied_205,Owner_occupied_113,Owner_occupied_125,"Owner_occupied_1,262",466,555,175,0,17,49
12,Unnamed: 12,Margin of Error,Â±225,Â±269,Â±167,Owner_occupied_Â±166,Owner_occupied_Â±128,Owner_occupied_Â±141,Owner_occupied_Â±96,Owner_occupied_Â±133,Owner_occupied_Â±262,Â±174,Â±222,Â±126,Â±127,Â±30,Â±73
13,"Census Tract 911, Suffolk County, Massachusetts",Estimate,"4,344","2,097",368,Owner_occupied_453,Owner_occupied_695,Owner_occupied_333,Owner_occupied_51,Owner_occupied_197,"Owner_occupied_2,247","1,251",554,342,63,0,37
14,Unnamed: 14,Margin of Error,Â±506,Â±557,Â±199,Owner_occupied_Â±290,Owner_occupied_Â±412,Owner_occupied_Â±251,Owner_occupied_Â±58,Owner_occupied_Â±119,Owner_occupied_Â±475,Â±396,Â±371,Â±228,Â±75,Â±127,Â±47
15,"Census Tract 912, Suffolk County, Massachusetts",Estimate,"2,714","1,189",78,Owner_occupied_69,Owner_occupied_534,Owner_occupied_302,Owner_occupied_98,Owner_occupied_108,"Owner_occupied_1,525",768,457,259,14,0,27
16,Unnamed: 16,Margin of Error,Â±399,Â±304,Â±62,Owner_occupied_Â±58,Owner_occupied_Â±262,Owner_occupied_Â±199,Owner_occupied_Â±89,Owner_occupied_Â±121,Owner_occupied_Â±287,Â±299,Â±207,Â±194,Â±14,Â±127,Â±33
17,"Census Tract 913, Suffolk County, Massachusetts",Estimate,"1,741",271,46,Owner_occupied_17,Owner_occupied_42,Owner_occupied_151,Owner_occupied_15,Owner_occupied_0,"Owner_occupied_1,470",669,523,193,0,22,63
18,Unnamed: 18,Margin of Error,Â±339,Â±160,Â±40,Owner_occupied_Â±31,Owner_occupied_Â±64,Owner_occupied_Â±143,Owner_occupied_Â±23,Owner_occupied_Â±127,Owner_occupied_Â±355,Â±310,Â±255,Â±113,Â±127,Â±41,Â±73
19,"Census Tract 914, Suffolk County, Massachusetts",Estimate,"2,008",716,176,Owner_occupied_75,Owner_occupied_202,Owner_occupied_193,Owner_occupied_0,Owner_occupied_70,"Owner_occupied_1,292",738,124,280,0,0,150
20,Unnamed: 20,Margin of Error,Â±277,Â±318,Â±151,Owner_occupied_Â±73,Owner_occupied_Â±186,Owner_occupied_Â±200,Owner_occupied_Â±127,Owner_occupied_Â±115,Owner_occupied_Â±267,Â±236,Â±97,Â±165,Â±127,Â±127,Â±164
21,"Census Tract 915, Suffolk County, Massachusetts",Estimate,"4,778","1,541",202,Owner_occupied_317,Owner_occupied_590,Owner_occupied_172,Owner_occupied_232,Owner_occupied_28,"Owner_occupied_3,237","1,458","1,073",408,230,53,15
22,Unnamed: 22,Margin of Error,Â±429,Â±351,Â±121,Owner_occupied_Â±261,Owner_occupied_Â±259,Owner_occupied_Â±125,Owner_occupied_Â±131,Owner_occupied_Â±32,Owner_occupied_Â±505,Â±561,Â±481,Â±240,Â±187,Â±79,Â±22
23,"Census Tract 916, Suffolk County, Massachusetts",Estimate,"3,363",597,40,Owner_occupied_265,Owner_occupied_214,Owner_occupied_58,Owner_occupied_0,Owner_occupied_20,"Owner_occupied_2,766","1,107",960,589,110,0,0
24,Unnamed: 24,Margin of Error,Â±358,Â±277,Â±46,Owner_occupied_Â±187,Owner_occupied_Â±197,Owner_occupied_Â±54,Owner_occupied_Â±127,Owner_occupied_Â±31,Owner_occupied_Â±492,Â±440,Â±458,Â±332,Â±124,Â±127,Â±127
25,"Census Tract 917, Suffolk County, Massachusetts",Estimate,"3,248","1,166",83,Owner_occupied_201,Owner_occupied_338,Owner_occupied_319,Owner_occupied_205,Owner_occupied_20,"Owner_occupied_2,082","1,688",82,301,11,0,0
26,Unnamed: 26,Margin of Error,Â±579,Â±414,Â±100,Owner_occupied_Â±184,Owner_occupied_Â±215,Owner_occupied_Â±221,Owner_occupied_Â±253,Owner_occupied_Â±34,Owner_occupied_Â±521,Â±546,Â±109,Â±188,Â±16,Â±127,Â±127
27,"Census Tract 918, Suffolk County, Massachusetts",Estimate,"2,929","1,158",40,Owner_occupied_512,Owner_occupied_511,Owner_occupied_68,Owner_occupied_27,Owner_occupied_0,"Owner_occupied_1,771","1,126",219,96,156,174,0
28,Unnamed: 28,Margin of Error,Â±390,Â±340,Â±55,Owner_occupied_Â±270,Owner_occupied_Â±273,Owner_occupied_Â±75,Owner_occupied_Â±44,Owner_occupied_Â±127,Owner_occupied_Â±438,Â±444,Â±173,Â±110,Â±157,Â±205,Â±127
29,"Census Tract 919, Suffolk County, Massachusetts",Estimate,"3,577","1,475",512,Owner_occupied_547,Owner_occupied_146,Owner_occupied_71,Owner_occupied_84,Owner_occupied_115,"Owner_occupied_2,102",992,834,147,99,0,30
30,Unnamed: 30,Margin of Error,Â±468,Â±447,Â±299,Owner_occupied_Â±353,Owner_occupied_Â±97,Owner_occupied_Â±91,Owner_occupied_Â±110,Owner_occupied_Â±93,Owner_occupied_Â±434,Â±365,Â±329,Â±155,Â±131,Â±127,Â±36
31,"Census Tract 920, Suffolk County, Massachusetts",Estimate,"5,174","2,007",492,Owner_occupied_397,Owner_occupied_675,Owner_occupied_229,Owner_occupied_194,Owner_occupied_20,"Owner_occupied_3,167","1,729",513,422,381,122,0
32,Unnamed: 32,Margin of Error,Â±495,Â±520,Â±333,Owner_occupied_Â±279,Owner_occupied_Â±394,Owner_occupied_Â±209,Owner_occupied_Â±102,Owner_occupied_Â±27,Owner_occupied_Â±536,Â±606,Â±338,Â±287,Â±346,Â±182,Â±127
33,"Census Tract 921.01, Suffolk County, Massachus...",Estimate,"5,662","2,033",184,Owner_occupied_264,Owner_occupied_946,Owner_occupied_406,Owner_occupied_0,Owner_occupied_233,"Owner_occupied_3,629","2,055",803,553,93,0,125
34,Unnamed: 34,Margin of Error,Â±631,Â±429,Â±157,Owner_occupied_Â±236,Owner_occupied_Â±356,Owner_occupied_Â±299,Owner_occupied_Â±127,Owner_occupied_Â±153,Owner_occupied_Â±680,Â±589,Â±432,Â±423,Â±65,Â±127,Â±157
35,"Census Tract 922, Suffolk County, Massachusetts",Estimate,"2,932",986,156,Owner_occupied_219,Owner_occupied_312,Owner_occupied_96,Owner_occupied_157,Owner_occupied_46,"Owner_occupied_1,946","1,201",448,129,149,0,19
36,Unnamed: 36,Margin of Error,Â±292,Â±319,Â±145,Owner_occupied_Â±211,Owner_occupied_Â±148,Owner_occupied_Â±67,Owner_occupied_Â±107,Owner_occupied_Â±45,Owner_occupied_Â±357,Â±318,Â±234,Â±134,Â±145,Â±127,Â±23
37,"Census Tract 923, Suffolk County, Massachusetts",Estimate,"2,662","1,188",259,Owner_occupied_264,Owner_occupied_297,Owner_occupied_315,Owner_occupied_0,Owner_occupied_53,"Owner_occupied_1,474","1,008",227,105,125,9,0
38,Unnamed: 38,Margin of Error,Â±272,Â±301,Â±219,Owner_occupied_Â±227,Owner_occupied_Â±122,Owner_occupied_Â±175,Owner_occupied_Â±127,Owner_occupied_Â±48,Owner_occupied_Â±362,Â±328,Â±173,Â±97,Â±173,Â±15,Â±127
39,"Census Tract 924, Suffolk County, Massachusetts",Estimate,"5,995","1,379",600,Owner_occupied_371,Owner_occupied_29,Owner_occupied_0,Owner_occupied_152,Owner_occupied_227,"Owner_occupied_4,616","2,723","1,193",562,138,0,0
40,Unnamed: 40,Margin of Error,Â±535,Â±545,Â±427,Owner_occupied_Â±260,Owner_occupied_Â±45,Owner_occupied_Â±127,Owner_occupied_Â±106,Owner_occupied_Â±200,Owner_occupied_Â±588,Â±612,Â±430,Â±313,Â±159,Â±127,Â±127
41,"Census Tract 1001, Suffolk County, Massachusetts",Estimate,"5,575","1,665",780,Owner_occupied_356,Owner_occupied_302,Owner_occupied_27,Owner_occupied_76,Owner_occupied_124,"Owner_occupied_3,910","1,747","1,408",381,344,18,12
42,Unnamed: 42,Margin of Error,Â±566,Â±606,Â±583,Owner_occupied_Â±263,Owner_occupied_Â±190,Owner_occupied_Â±40,Owner_occupied_Â±101,Owner_occupied_Â±100,Owner_occupied_Â±555,Â±466,Â±503,Â±216,Â±197,Â±21,Â±37
43,"Census Tract 1002, Suffolk County, Massachusetts",Estimate,"2,893","1,407",353,Owner_occupied_205,Owner_occupied_233,Owner_occupied_250,Owner_occupied_65,Owner_occupied_301,"Owner_occupied_1,486",947,362,126,0,0,51
44,Unnamed: 44,Margin of Error,Â±361,Â±484,Â±327,Owner_occupied_Â±144,Owner_occupied_Â±144,Owner_occupied_Â±204,Owner_occupied_Â±70,Owner_occupied_Â±287,Owner_occupied_Â±359,Â±262,Â±204,Â±113,Â±127,Â±127,Â±78
45,"Census Tract 1003, Suffolk County, Massachusetts",Estimate,"3,555","1,394",189,Owner_occupied_136,Owner_occupied_329,Owner_occupied_395,Owner_occupied_306,Owner_occupied_39,"Owner_occupied_2,161","1,463",131,396,0,171,0
46,Unnamed: 46,Margin of Error,Â±466,Â±487,Â±226,Owner_occupied_Â±176,Owner_occupied_Â±155,Owner_occupied_Â±292,Owner_occupied_Â±199,Owner_occupied_Â±62,Owner_occupied_Â±543,Â±454,Â±114,Â±346,Â±127,Â±195,Â±127
47,"Census Tract 1004, Suffolk County, Massachusetts",Estimate,"4,635","1,788",200,Owner_occupied_458,Owner_occupied_475,Owner_occupied_382,Owner_occupied_231,Owner_occupied_42,"Owner_occupied_2,847","1,620",669,416,53,89,0
48,Unnamed: 48,Margin of Error,Â±553,Â±422,Â±229,Owner_occupied_Â±253,Owner_occupied_Â±234,Owner_occupied_Â±216,Owner_occupied_Â±158,Owner_occupied_Â±45,Owner_occupied_Â±634,Â±564,Â±440,Â±341,Â±64,Â±76,Â±127
49,"Census Tract 1005, Suffolk County, Massachusetts",Estimate,"4,803","1,891",272,Owner_occupied_221,Owner_occupied_759,Owner_occupied_297,Owner_occupied_195,Owner_occupied_147,"Owner_occupied_2,912","1,564",907,407,34,0,0
50,Unnamed: 50,Margin of Error,Â±574,Â±492,Â±198,Owner_occupied_Â±149,Owner_occupied_Â±524,Owner_occupied_Â±181,Owner_occupied_Â±207,Owner_occupied_Â±151,Owner_occupied_Â±511,Â±365,Â±434,Â±220,Â±40,Â±127,Â±127
51,"Census Tract 1006.01, Suffolk County, Massachu...",Estimate,"4,653","2,416",329,Owner_occupied_311,Owner_occupied_908,Owner_occupied_131,Owner_occupied_370,Owner_occupied_367,"Owner_occupied_2,237","1,061",680,368,61,67,0
52,Unnamed: 52,Margin of Error,Â±612,Â±495,Â±181,Owner_occupied_Â±224,Owner_occupied_Â±502,Owner_occupied_Â±122,Owner_occupied_Â±354,Owner_occupied_Â±240,Owner_occupied_Â±491,Â±396,Â±331,Â±172,Â±53,Â±80,Â±127
53,"Census Tract 1006.03, Suffolk County, Massachu...",Estimate,"1,651","1,155",198,Owner_occupied_97,Owner_occupied_606,Owner_occupied_38,Owner_occupied_112,Owner_occupied_104,Owner_occupied_496,231,168,41,0,0,56
54,Unnamed: 54,Margin of Error,Â±193,Â±220,Â±135,Owner_occupied_Â±88,Owner_occupied_Â±237,Owner_occupied_Â±39,Owner_occupied_Â±87,Owner_occupied_Â±81,Owner_occupied_Â±157,Â±129,Â±147,Â±49,Â±127,Â±127,Â±60
55,"Census Tract 1007, Suffolk County, Massachusetts",Estimate,"4,186","2,412",312,Owner_occupied_646,Owner_occupied_481,Owner_occupied_428,Owner_occupied_152,Owner_occupied_393,"Owner_occupied_1,774","1,120",298,272,46,0,38
56,Unnamed: 56,Margin of Error,Â±308,Â±324,Â±173,Owner_occupied_Â±261,Owner_occupied_Â±282,Owner_occupied_Â±195,Owner_occupied_Â±66,Owner_occupied_Â±140,Owner_occupied_Â±348,Â±300,Â±185,Â±185,Â±44,Â±127,Â±44
57,"Census Tract 1008, Suffolk County, Massachusetts",Estimate,"5,602","3,305",576,Owner_occupied_963,Owner_occupied_670,Owner_occupied_618,Owner_occupied_354,Owner_occupied_124,"Owner_occupied_2,297","1,063",525,528,173,0,8
58,Unnamed: 58,Margin of Error,Â±571,Â±717,Â±386,Owner_occupied_Â±490,Owner_occupied_Â±298,Owner_occupied_Â±350,Owner_occupied_Â±429,Owner_occupied_Â±112,Owner_occupied_Â±531,Â±445,Â±224,Â±246,Â±130,Â±127,Â±13

In [ ]:
from re import I
def process_excel_file(year, excel_path, list_index):
    df = pd.read_excel(excel_path, sheet_name=1, header=None)

    header = df.iloc[0:3].apply(lambda x: '_'.join(x.astype(str)), axis=0)
    df.columns = header
    df = df[3:]

    df = df.set_index(df.columns[0])
    df = df.transpose()

    df = df[df.reset_index().index % 2 == 0]

    # Calculate the starting and ending row indices based on the list_index
    start_row = list_index * 4
    end_row = (list_index + 1) * 4

    new_df = df.iloc[start_row:end_row].copy()
    new_df.insert(0, 'year', year)
    new_df = new_df.reset_index()

    if isinstance(new_df.iat[0, 0], str) and len(new_df.iat[0, 0]) > 23:
        new_df.iat[0, 0] = new_df.iat[0, 0][-23:]

    new_df = new_df.rename(columns={'index': 'estimate_type'})
    new_df['estimate_type'] = new_df['estimate_type'].str[4:]
    new_df['Total'] = pd.to_numeric(new_df['Total'].str.replace(',', ''), errors='coerce').astype(float)

    return new_df