In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import networkx as nx
import csv
import numpy as np
import sklearn
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##considering make another function

In [ ]:
years = [year for year in range(2021, 2009, -1)]
years

[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010]

In [ ]:
from re import I
def process_excel_file(year, excel_path, list_index):
    df = pd.read_excel(excel_path, sheet_name=1, header=None)

    header = df.iloc[0:3].apply(lambda x: '_'.join(x.astype(str)), axis=0)
    df.columns = header
    df = df[3:]

    df = df.set_index(df.columns[0])
    df = df.transpose()

    df = df[df.reset_index().index % 2 == 0]

    # Calculate the starting and ending row indices based on the list_index
    start_row = list_index * 4
    end_row = (list_index + 1) * 4

    new_df = df.iloc[start_row:end_row].copy()
    new_df.insert(0, 'year', year)
    new_df = new_df.reset_index()

    if isinstance(new_df.iat[0, 0], str) and len(new_df.iat[0, 0]) > 23:
        new_df.iat[0, 0] = new_df.iat[0, 0][-23:]

    new_df = new_df.rename(columns={'index': 'estimate_type'})
    new_df['estimate_type'] = new_df['estimate_type'].str[4:]
    new_df['Total'] = pd.to_numeric(new_df['Total'].str.replace(',', ''), errors='coerce').astype(float)

    return new_df

In [ ]:
list_of_indices = ["901", "902", "903", "907",
                   "90901", "91001",
                   "911", "912", "913", "914", "915", "916", "917", "918", "919", "920",
                   "92101", "922", "923", "924",
                   "1001", "1002", "1003", "1004", "1005", "100601", "100603", "1007", "1008"]



  #['70801', '70901', '801', '803', '80401', '805', '80601',
                   #'81302', '814', '815', '817', '818', '819', '820', '821', '904','906', '9803']

In [ ]:
len(list_of_indices)

29

In [ ]:
#this loop makes use of the function process_excel_file() to make different years of dataframe for each census tract
for index in list_of_indices:
    for year in years:
        excel_file_path = f'/content/drive/MyDrive/DS project/Dorchester_income/ACSST5Y{year}.xlsx'
        variable_name = f'ct{index}_{year}'

        # Determine the list_index based on the current index
        list_index = list_of_indices.index(index)

        # Call the function and assign the result to the variable
        globals()[variable_name] = process_excel_file(year, excel_file_path, list_index)

In [ ]:
#this for loop generates the concated dataframe

for index in list_of_indices:
    concatenated_dfs = [globals()[f'ct{index}_2021']]  # Start with the 2021 DataFrame

    for year in years[1:]:
        variable_name = f'ct{index}_{year}'
        if not globals()[variable_name].empty:
            concatenated_dfs.append(globals()[variable_name])

    # Concatenate all DataFrames for the current index
    globals()[f'ct{index}'] = pd.concat(concatenated_dfs, ignore_index=True)

In [ ]:
ct1001

nan_nan_Label,estimate_type,year,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars),PERCENT ALLOCATED,Household income in the past 12 months,Family income in the past 12 months,Nonfamily income in the past 12 months,PERCENT IMPUTED
0,Households_Estimate,2021,2124.0,12.9%,10.5%,5.7%,18.5%,10.9%,16.4%,4.2%,7.5%,7.9%,5.4%,"36,471","62,289",NaN,43.6%,(X),(X),NaN
1,Families_Estimate,2021,1639.0,5.7%,5.7%,3.2%,24.8%,14.2%,16.4%,5.5%,11.6%,7.1%,5.9%,"41,414","69,180",NaN,(X),43.7%,(X),NaN
2,Married-couple families_Estimate,2021,581.0,0.0%,0.0%,2.1%,7.4%,19.8%,18.2%,6.5%,24.8%,12.7%,8.4%,"84,609",N,NaN,(X),(X),(X),NaN
3,Nonfamily households_Estimate,2021,485.0,36.9%,26.8%,14.4%,4.9%,0.0%,8.9%,0.0%,4.3%,0.0%,3.7%,"13,401","31,374",NaN,(X),(X),40.4%,NaN
4,Households_Estimate,2020,2100.0,15.3%,9.3%,13.0%,15.1%,11.1%,10.0%,7.5%,12.0%,2.8%,3.8%,"31,071","53,702",NaN,39.7%,(X),(X),NaN
5,Families_Estimate,2020,1644.0,8.6%,4.7%,14.0%,20.4%,12.2%,10.5%,8.2%,14.2%,2.4%,4.8%,"35,969","60,033",NaN,(X),41.6%,(X),NaN
6,Married-couple families_Estimate,2020,507.0,0.0%,1.8%,2.0%,11.6%,18.7%,6.7%,11.0%,29.0%,7.9%,11.2%,"96,313",N,NaN,(X),(X),(X),NaN
7,Nonfamily households_Estimate,2020,456.0,39.7%,25.9%,9.4%,3.9%,7.5%,0.2%,9.4%,3.9%,0.0%,0.0%,"11,546","24,584",NaN,(X),(X),29.2%,NaN
8,Households_Estimate,2019,2203.0,19.9%,11.7%,12.6%,11.9%,12.5%,9.8%,6.5%,10.3%,2.4%,2.4%,"28,659","48,088",NaN,37.7%,(X),(X),NaN
9,Families_Estimate,2019,1578.0,10.8%,8.2%,12.8%,17.6%,13.6%,9.6%,8.1%,13.8%,2.2%,3.4%,"35,272","56,651",NaN,(X),42.9%,(X),NaN
10,Married-couple families_Estimate,2019,463.0,0.0%,1.7%,6.5%,20.7%,20.7%,0.0%,11.4%,26.8%,7.3%,4.8%,"77,734",N,NaN,(X),(X),(X),NaN
11,Nonfamily households_Estimate,2019,625.0,42.9%,20.5%,13.4%,6.6%,9.3%,1.4%,3.2%,2.7%,0.0%,0.0%,"11,503","20,580",NaN,(X),(X),24.6%,NaN
12,Households_Estimate,2018,2201.0,18.5%,12.9%,11.0%,13.0%,9.9%,10.5%,5.4%,10.2%,6.1%,2.5%,"29,483","52,459",NaN,45.1%,(X),(X),NaN
13,Families_Estimate,2018,1570.0,11.1%,8.4%,12.0%,14.4%,12.4%,11.5%,5.4%,13.7%,9.4%,1.7%,"37,692","62,450",NaN,(X),51.8%,(X),NaN
14,Married-couple families_Estimate,2018,518.0,0.0%,1.5%,10.8%,16.8%,15.4%,4.6%,8.3%,19.3%,18.1%,5.0%,"78,333",N,NaN,(X),(X),(X),NaN
15,Nonfamily households_Estimate,2018,631.0,36.9%,25.5%,8.4%,9.7%,5.7%,6.0%,5.4%,2.4%,0.0%,0.0%,"12,292","23,597",NaN,(X),(X),28.4%,NaN
16,Households_Estimate,2017,2191.0,21.7%,13.1%,12.4%,10.5%,10.7%,11.6%,5.6%,9.4%,3.5%,1.6%,"27,750","46,834",NaN,43.2%,(X),(X),NaN
17,Families_Estimate,2017,1526.0,13.2%,11.3%,11.5%,10.7%,15.9%,11.5%,6.4%,12.1%,6.7%,0.5%,"37,356","56,153",NaN,(X),49.3%,(X),NaN
18,Married-couple families_Estimate,2017,433.0,0.7%,3.7%,12.0%,10.9%,20.1%,4.8%,12.9%,15.2%,17.8%,1.8%,"61,369",N,NaN,(X),(X),(X),NaN
19,Nonfamily households_Estimate,2017,665.0,41.1%,21.2%,11.9%,9.8%,4.2%,9.6%,2.3%,0.0%,0.0%,0.0%,"11,792","20,103",NaN,(X),(X),26.8%,NaN
20,Households_Estimate,2016,2010.0,19.5%,13.9%,11.5%,13.1%,10.4%,14.5%,4.9%,8.9%,2.6%,0.7%,"28,279","43,782",NaN,43.5%,(X),(X),NaN
21,Families_Estimate,2016,1355.0,13.4%,10.6%,10.0%,15.5%,15.7%,14.2%,4.1%,11.7%,3.9%,1.0%,"35,574","51,535",NaN,(X),49.6%,(X),NaN
22,Married-couple families_Estimate,2016,370.0,0.0%,9.2%,8.6%,10.0%,24.3%,10.3%,2.4%,17.0%,14.3%,3.8%,"44,692",N,NaN,(X),(X),(X),NaN
23,Nonfamily households_Estimate,2016,655.0,32.2%,24.7%,12.2%,9.6%,5.5%,12.5%,3.2%,0.0%,0.0%,0.0%,"12,407","22,449",NaN,(X),(X),28.4%,NaN
24,Households_Estimate,2015,2023.0,22.1%,16.2%,11.1%,10.1%,8.8%,13.5%,5.7%,7.7%,3.0%,1.8%,"25,504","44,568",NaN,43.7%,(X),(X),NaN
25,Families_Estimate,2015,1328.0,14.3%,13.1%,7.9%,15.8%,11.4%,15.1%,5.5%,9.7%,4.5%,2.7%,"34,643","54,745",NaN,(X),49.5%,(X),NaN
26,Married-couple families_Estimate,2015,416.0,0.0%,7.9%,9.1%,10.6%,15.1%,14.7%,5.3%,14.2%,14.4%,8.7%,(X),N,NaN,(X),(X),(X),NaN
27,Nonfamily households_Estimate,2015,695.0,37.1%,26.5%,14.5%,4.0%,7.5%,6.9%,3.5%,0.0%,0.0%,0.0%,"11,492","18,821",NaN,(X),(X),29.9%,NaN
28,Households_Estimate,2014,1976.0,20.9%,13.5%,12.2%,9.8%,10.6%,15.0%,5.8%,8.9%,2.9%,0.4%,"28,671","43,711",NaN,43.0%,(X),(X),NaN
29,Families_Estimate,2014,1369.0,14.8%,9.9%,10.7%,15.1%,11.1%,17.1%,5.5%,11.0%,4.2%,0.6%,"34,807","50,949",NaN,(X),44.6%,(X),NaN
30,Married-couple families_Estimate,2014,403.0,3.7%,9.4%,11.7%,9.9%,7.9%,21.8%,2.7%,22.8%,7.9%,2.0%,"59,632",N,NaN,(X),(X),(X),NaN
31,Nonfamily households_Estimate,2014,607.0,37.9%,24.4%,12.9%,3.5%,9.7%,6.4%,5.3%,0.0%,0.0%,0.0%,"11,382","20,623",NaN,(X),(X),35.3%,NaN
32,Households_Estimate,2013,1965.0,23.1%,13.1%,13.9%,10.6%,8.9%,13.2%,5.4%,10.4%,1.0%,0.5%,"24,886","40,835",NaN,38.5%,(X),(X),NaN
33,Families_Estimate,2013,1426.0,18.7%,10.6%,12.8%,15.8%,8.2%,15.6%,5.8%,10.7%,1.4%,0.6%,"32,566","44,635",NaN,(X),34.2%,(X),NaN
34,Married-couple families_Estimate,2013,352.0,7.7%,10.2%,2.8%,6.3%,13.1%,19.6%,4.0%,33.8%,0.0%,2.6%,"69,167",N,NaN,(X),(X),(X),NaN
35,Nonfamily households_Estimate,2013,539.0,42.9%,19.7%,12.6%,5.2%,10.8%,0.0%,3.0%,5.9%,0.0%,0.0%,"11,234","23,707",NaN,(X),(X),39.9%,NaN
36,Households_Estimate,2012,1878.0,22.5%,12.2%,12.2%,10.7%,10.2%,15.0%,6.9%,7.0%,1.8%,1.5%,"27,840","42,515",NaN,37.8%,(X),(X),NaN
37,Families_Estimate,2012,1327.0,16.5%,8.2%,13.3%,14.2%,7.2%,20.4%,7.5%,7.9%,2.6%,2.1%,"33,729","49,216",NaN,(X),34.5%,(X),NaN
38,Married-couple families_Estimate,2012,405.0,6.4%,6.2%,5.7%,7.7%,9.1%,25.4%,9.6%,23.0%,0.0%,6.9%,"68,079",N,NaN,(X),(X),(X),NaN
39,Nonfamily households_Estimate,2012,551.0,40.7%,21.8%,9.4%,4.2%,15.1%,0.0%,4.2%,4.7%,0.0%,0.0%,"11,288","23,790",NaN,(X),(X),40.5%,NaN
40,Households_Estimate,2011,1737.0,24.1%,11.7%,15.8%,12.9%,12.6%,12.1%,3.1%,3.6%,4.0%,0.0%,"22,375","37,171",NaN,40.1%,(X),(X),NaN
41,Families_Estimate,2011,1312.0,19.2%,10.1%,15.8%,16.4%,10.4%,16.1%,4.0%,2.7%,5.3%,0.0%,"28,261","41,330",NaN,(X),38.1%,(X),NaN
42,Married-couple families_Estimate,2011,332.0,8.1%,3.6%,9.3%,8.1%,13.9%,31.0%,7.5%,10.8%,7.5%,0.0%,"65,417",N,NaN,(X),(X),(X),NaN
43,Nonfamily households_Estimate,2011,425.0,49.6%,16.5%,10.4%,6.1%,10.6%,0.0%,0.5%,6.4%,0.0%,0.0%,"10,078","20,910",NaN,(X),(X),34.6%,NaN
44,Households_Estimate,2010,1691.0,26.2%,8.1%,13.1%,11.7%,13.0%,11.5%,3.8%,8.2%,4.4%,0.0%,"26,007","41,877",NaN,41.6%,(X),(X),NaN
45,Families_Estimate,2010,1342.0,20.1%,6.8%,14.1%,13.3%,15.6%,14.5%,3.9%,7.1%,4.7%,0.0%,"30,294","44,965",NaN,(X),40.8%,(X),NaN
46,Married-couple families_Estimate,2010,386.0,9.6%,0.0%,8.3%,3.6%,12.7%,28.0%,9.3%,21.8%,6.7%,0.0%,"67,432",N,NaN,(X),(X),(X),NaN
47,Nonfamily households_Estimate,2010,349.0,60.5%,13.2%,3.2%,5.7%,8.9%,0.0%,1.1%,7.4%,0.0%,0.0%,"9,078","21,103",NaN,(X),(X),36.4%,NaN

In [ ]:
def convert_percentage_to_float_with_symbol(percentage_str):
    if isinstance(percentage_str, str):
        cleaned_str = percentage_str.replace('%', '').replace('-', '')
        try:
            return float(cleaned_str) / 100.0
        except ValueError:
            # Handle cases where the cleaned string couldn't be converted to float
            return None
    else:
        return percentage_str


def convert_column_to_float(df):
  columns_to_convert = df.columns[3:13]

  for col in columns_to_convert:
    df[col] = df[col].apply(convert_percentage_to_float_with_symbol)
    df[col] = df[col] * df['Total']
  # Convert the selected columns to float64
  #df[columns_to_convert] = df[columns_to_convert].astype(float)
  return df

In [ ]:
#processing the concated dataframe, (strip%and, mutliplied by total)
for index in list_of_indices:
  dataframe_name = f'ct{index}'
  globals()[dataframe_name]  = convert_column_to_float(globals()[dataframe_name])

In [ ]:
for index in list_of_indices:
  dataframe_name = f'ct{index}'
  globals()[dataframe_name]  = globals()[dataframe_name][globals()[dataframe_name]['estimate_type']=='Households_Estimate']

In [ ]:
#calculating income difference
for index in list_of_indices:
    df = f'ct{index}'

    # Clean the 'Median income (dollars)' column by removing commas and dashes
    globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
    # Clean the 'Mean income..
    globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')

    # Convert the cleaned column to float, handling non-numeric values
    def convert_to_float(value):
        try:
            return float(value)
        except (ValueError, TypeError):
            return None

    globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
    globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)

    # Calculate the 'median_income_difference' column
    globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
    globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))

<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].str.replace(',', '').str.replace('-', '')
<ipython-input-48-1f052636bfbd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Mean income (dollars)'] = globals()[df]['Mean income (dollars)'].apply(convert_to_float)
<ipython-input-48-1f052636bfbd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['median_income_difference'] = ((globals()[df]['Median income (dollars)'] - globals()[df]['Median income (dollars)'].shift(-1)) / globals()[df]['Median income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['mean_income_difference'] = ((globals()[df]['Mean income (dollars)'] - globals()[df]['Mean income (dollars)'].shift(-1)) / globals()[df]['Mean income (dollars)'].shift(-1))
<ipython-input-48-1f052636bfbd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[df]['Median income (dollars)'] = globals()[df]['Median income (dollars)'].str.replace(',', '').str.replace('-', '')

In [ ]:
# adding census tract identifier column
for index in list_of_indices:
  dataframe_name = f'ct{index}'
  globals()[dataframe_name]['census_tract']  = index

<ipython-input-49-e561fdeb9973>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[dataframe_name]['census_tract']  = index

In [ ]:

list_of_indices
# Create a list of DataFrames
concatenated_df = [globals()[f'ct{index}'] for index in list_of_indices]

# Initialize an empty DataFrame to store the concatenated result
dorchester_income = pd.DataFrame()

# Concatenate the DataFrames in the list
for df in concatenated_df:
    dorchester_income = pd.concat([dorchester_income, df], ignore_index=True)

In [ ]:
dorchester_income.columns

Index(['estimate_type', 'year', 'Total', 'Less than $10,000',
       '$10,000 to $14,999', '$15,000 to $24,999', '$25,000 to $34,999',
       '$35,000 to $49,999', '$50,000 to $74,999', '$75,000 to $99,999',
       '$100,000 to $149,999', '$150,000 to $199,999', '$200,000 or more',
       'Median income (dollars)', 'Mean income (dollars)', 'PERCENT ALLOCATED',
       'Household income in the past 12 months',
       'Family income in the past 12 months',
       'Nonfamily income in the past 12 months', 'PERCENT IMPUTED',
       'median_income_difference', 'mean_income_difference', 'census_tract'],
      dtype='object', name='nan_nan_Label')

In [ ]:
income_dorchester_result_df = dorchester_income[['year', 'Median income (dollars)', 'Mean income (dollars)','median_income_difference',
                                                 'mean_income_difference', 'census_tract']]

#income_dorchester_result_df = income_dorchester_result_df[income_dorchester_result_df['census_tract'] != 9803]
income_dorchester_result_df = income_dorchester_result_df.reset_index(drop=True)

In [ ]:
income_dorchester_result_df['census_tract'] = income_dorchester_result_df['census_tract'].astype('float64')

In [ ]:
# Adding back the decimal to census tract..
def custom_replace(value):
    if value > 10000:
        return value/100
   # else: return int(value)

    return value


income_dorchester_result_df['census_tract'] = income_dorchester_result_df['census_tract'].apply(custom_replace)

In [ ]:
income_dorchester_result_df

nan_nan_Label,year,Median income (dollars),Mean income (dollars),median_income_difference,mean_income_difference,census_tract
0,2021,33652.0,55348.0,0.017630,0.106739,901.0
1,2020,33069.0,50010.0,-0.032929,-0.105287,901.0
2,2019,34195.0,55895.0,0.045655,0.185598,901.0
3,2018,32702.0,47145.0,0.079880,0.076542,901.0
4,2017,30283.0,43793.0,0.067731,0.064384,901.0
...,...,...,...,...,...,...
343,2014,65762.0,73137.0,-0.043183,-0.014764,1008.0
344,2013,68730.0,74233.0,0.022905,-0.014680,1008.0
345,2012,67191.0,75339.0,0.104879,0.054297,1008.0
346,2011,60813.0,71459.0,0.070651,0.043990,1008.0
347,2010,56800.0,68448.0,NaN,NaN,1008.0

In [ ]:
income_dorchester_result_df.to_csv('/content/drive/MyDrive/DS project/Dorchester_income/Dorchester_income.csv')